body{
	background-color: #171616;
}

.login-form{
	text-align: center;
}

.credentials{
	text-align: center;
	border-radius: 10px;
	border-style: groove;
}
.signup{
	width: auto;
	height: auto;
	margin: auto;
	text-align: center;
}
.signuplink{
	border:none;
	color:orange;
}
.containerlogo{
	width: 100px;
	height: auto;
	margin:auto;
}
.loginlogo{
	height: 100px;
}
.loginButton{
	border-radius: 20px;
}

.content{
	width: 100%;
	height: 74%;
	overflow: auto;
	position: absolute;

}

.footer{
	height : 16%;
	width : 100%;
	position : fixed;
	bottom : 0%;
	background-color : white;
	z-index:20;
}
.socmed{
	float : left;
	margin-right : 5px;
	position : fixed;
	bottom : 1%;
	left : 10px;
	color : orange;
	font-style : italic;
}
.copyright{
	float : right;
	position : fixed;
	bottom : 10px;
	right : 10px;
}
.socmedcontainer{
	display: inline-block;
}
.fblogo{
	height: 40px;
	border-radius: 18%;
	margin-right: 5px;
}

.iglogo{
	height: 44px;
	border-radius: 18%;
	margin-right: 5px;
}


.header{
	position : sticky;
	top : 0px;
	z-index:20;
}
.navbar-brand{
	margin-left : 4px;
}
.navbar{
	padding : 0px;
}
.logo{
	height: 50px;
}
.log{
	margin-right: 10px;
}
.orange-break{
	height : 3px;
	width : 100%;
	background-color : orange;
	position: sticky;
	top: 60px;
	z-index:20;
}
.username{
	margin: auto;
	margin-right: 10px;
	color: white;
}
.search-button{
	height: 28px;
	width: 30px;
	position: absolute;
	top: 27%;
	background-color: white;
	border: none;
	border:none;
}

.item{
	height: 80%;
	width: 100%;
	border-radius: 10px;
}
.display-item{
	display: inline-block;
	margin-left:40px;
	margin-bottom: 20px;
	padding: 15px;
	background-color: black;
	border-radius: 20px;
	width: 16%;
	height: 60%;
}

.category{
	margin-left:20px;
	margin-top: 0px;
	color: white;
}
