.jeff{
  height: 510px;
  background-color: white;
  border-radius: 10px;
}

.view-cart-items{
  border-top: white;
  border-radius: 10px;
}

.title{
  text-align: center;
  font-size: 40px;
  color: black;
}

.body{
  height: 320px;
  border-radius: 10px;
  background-color: black;
  color: White;
}

.total-price{
  margin-right: 10px;
  float: right;
  background-color: gray;
  font-size: 24px;
}

.btn-dark{
  float: right;
  width: 200px;
}
