.cart-container{
  width: 100%;
  height: 74%;
}

.cart{
  margin: auto;
  margin-top: 2%;
  height: 500px;
  width: 50%;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}

.cart-body{
  height: 74%;
	overflow: auto;
<<<<<<< HEAD
  position: absolute;
=======
>>>>>>> 2fca0f95231c96c8f441d7fa034313223731c956
}

hr.style{
  border: 1px solid black;
}

.cart-item-img{
  height: 100px;
}
